/*####################################
##            	RESET               ##
##          base/reset.less         ##
##              v1.0                ##
######################################*/


//	base reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, form, label, table, caption, tbody, tfoot, thead, tr, th, td, canvas, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

//	Role-reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

//	box sizing-ftw
* { .box-sizing(); }

//
body, html {
    font-family: @font-sans;
    min-height: 100%;
    font-size: @base-font-size;
    font-weight: @base-font-weight;
    line-height: @base-line-height;
    color: @offBlack;
    background: @offWhite;
}

//	List style resetting
ol, ul { list-style: none; }

//	Responsiver images
img { max-width: 100%; }

//	Some input resets
input[type='text'], input[type='number'], input[type='password'], textarea, select {
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: auto;
}

//	Remove stupid ass focus border from BUTTONS (and submit BUTTONS)
input[type='submit'], button {
    outline: none;
    &:focus {
        outline: none;
    }
}

//	Table resets
table { border-collapse: collapse; border-spacing: 0; }

//	Quick SVG fix
svg { overflow: visible; }

//	better links
//	::TODO:: move this to a 'links' module
a {
    .trans(color, 0.4s);
    color: @vrettaBlue;
    text-decoration: underline;
    &:hover {
        color: #f66;
        text-decoration: none;
    }
}



/*####################################
##          MARGIN CLASSES          ##
##         base/spacing.less        ##
##              v1.0                ##
######################################*/


@base-margin: @base-size;
.ma1{ margin:  @base-margin * 1; };
.ma2{ margin:  @base-margin * 2; };
.ma3{ margin:  @base-margin * 3; };
.ma4{ margin:  @base-margin * 4; };
.ma5{ margin:  @base-margin * 5; };
.ma6{ margin:  @base-margin * 6; };
.ma7{ margin:  @base-margin * 7; };
.ma8{ margin:  @base-margin * 8; };
.ma9{ margin:  @base-margin * 9; };
.ma10{ margin: @base-margin * 10; };
.ma11{ margin: @base-margin * 11; };
.ma12{ margin: @base-margin * 12; };
.ma13{ margin: @base-margin * 13; };
.ma14{ margin: @base-margin * 14; };
.ma15{ margin: @base-margin * 15; };
.ma16{ margin: @base-margin * 16; };

.mt1{ margin-top:  @base-margin * 1; };
.mt2{ margin-top:  @base-margin * 2; };
.mt3{ margin-top:  @base-margin * 3; };
.mt4{ margin-top:  @base-margin * 4; };
.mt5{ margin-top:  @base-margin * 5; };
.mt6{ margin-top:  @base-margin * 6; };
.mt7{ margin-top:  @base-margin * 7; };
.mt8{ margin-top:  @base-margin * 8; };
.mt9{ margin-top:  @base-margin * 9; };
.mt10{ margin-top: @base-margin * 10; };
.mt11{ margin-top: @base-margin * 11; };
.mt12{ margin-top: @base-margin * 12; };
.mt13{ margin-top: @base-margin * 13; };
.mt14{ margin-top: @base-margin * 14; };
.mt15{ margin-top: @base-margin * 15; };
.mt16{ margin-top: @base-margin * 16; };

.mr1{ margin-right:  @base-margin * 1; };
.mr2{ margin-right:  @base-margin * 2; };
.mr3{ margin-right:  @base-margin * 3; };
.mr4{ margin-right:  @base-margin * 4; };
.mr5{ margin-right:  @base-margin * 5; };
.mr6{ margin-right:  @base-margin * 6; };
.mr7{ margin-right:  @base-margin * 7; };
.mr8{ margin-right:  @base-margin * 8; };
.mr9{ margin-right:  @base-margin * 9; };
.mr10{ margin-right: @base-margin * 10; };
.mr11{ margin-right: @base-margin * 11; };
.mr12{ margin-right: @base-margin * 12; };
.mr13{ margin-right: @base-margin * 13; };
.mr14{ margin-right: @base-margin * 14; };
.mr15{ margin-right: @base-margin * 15; };
.mr16{ margin-right: @base-margin * 16; };

.mb1{ margin-bottom:  @base-margin * 1; };
.mb2{ margin-bottom:  @base-margin * 2; };
.mb3{ margin-bottom:  @base-margin * 3; };
.mb4{ margin-bottom:  @base-margin * 4; };
.mb5{ margin-bottom:  @base-margin * 5; };
.mb6{ margin-bottom:  @base-margin * 6; };
.mb7{ margin-bottom:  @base-margin * 7; };
.mb8{ margin-bottom:  @base-margin * 8; };
.mb9{ margin-bottom:  @base-margin * 9; };
.mb10{ margin-bottom: @base-margin * 10; };
.mb11{ margin-bottom: @base-margin * 11; };
.mb12{ margin-bottom: @base-margin * 12; };
.mb13{ margin-bottom: @base-margin * 13; };
.mb14{ margin-bottom: @base-margin * 14; };
.mb15{ margin-bottom: @base-margin * 15; };
.mb16{ margin-bottom: @base-margin * 16; };

.ml1{ margin-left:  @base-margin * 1; };
.ml2{ margin-left:  @base-margin * 2; };
.ml3{ margin-left:  @base-margin * 3; };
.ml4{ margin-left:  @base-margin * 4; };
.ml5{ margin-left:  @base-margin * 5; };
.ml6{ margin-left:  @base-margin * 6; };
.ml7{ margin-left:  @base-margin * 7; };
.ml8{ margin-left:  @base-margin * 8; };
.ml9{ margin-left:  @base-margin * 9; };
.ml10{ margin-left: @base-margin * 10; };
.ml11{ margin-left: @base-margin * 11; };
.ml12{ margin-left: @base-margin * 12; };
.ml13{ margin-left: @base-margin * 13; };
.ml14{ margin-left: @base-margin * 14; };
.ml15{ margin-left: @base-margin * 15; };
.ml16{ margin-left: @base-margin * 16; };


/*####################################
##         PADDING CLASSES          ##
##         base/spacing.less        ##
##              v1.0                ##
######################################*/


@base-padding: @base-size;
.pa1{ padding:  @base-padding * 1; };
.pa2{ padding:  @base-padding * 2; };
.pa3{ padding:  @base-padding * 3; };
.pa4{ padding:  @base-padding * 4; };
.pa5{ padding:  @base-padding * 5; };
.pa6{ padding:  @base-padding * 6; };
.pa7{ padding:  @base-padding * 7; };
.pa8{ padding:  @base-padding * 8; };
.pa9{ padding:  @base-padding * 9; };
.pa10{ padding: @base-padding * 10; };
.pa11{ padding: @base-padding * 11; };
.pa12{ padding: @base-padding * 12; };
.pa13{ padding: @base-padding * 13; };
.pa14{ padding: @base-padding * 14; };
.pa15{ padding: @base-padding * 15; };
.pa16{ padding: @base-padding * 16; };

.pt1{ padding-top:  @base-padding * 1; };
.pt2{ padding-top:  @base-padding * 2; };
.pt3{ padding-top:  @base-padding * 3; };
.pt4{ padding-top:  @base-padding * 4; };
.pt5{ padding-top:  @base-padding * 5; };
.pt6{ padding-top:  @base-padding * 6; };
.pt7{ padding-top:  @base-padding * 7; };
.pt8{ padding-top:  @base-padding * 8; };
.pt9{ padding-top:  @base-padding * 9; };
.pt10{ padding-top: @base-padding * 10; };
.pt11{ padding-top: @base-padding * 11; };
.pt12{ padding-top: @base-padding * 12; };
.pt13{ padding-top: @base-padding * 13; };
.pt14{ padding-top: @base-padding * 14; };
.pt15{ padding-top: @base-padding * 15; };
.pt16{ padding-top: @base-padding * 16; };

.pr1{ padding-right:  @base-padding * 1; };
.pr2{ padding-right:  @base-padding * 2; };
.pr3{ padding-right:  @base-padding * 3; };
.pr4{ padding-right:  @base-padding * 4; };
.pr5{ padding-right:  @base-padding * 5; };
.pr6{ padding-right:  @base-padding * 6; };
.pr7{ padding-right:  @base-padding * 7; };
.pr8{ padding-right:  @base-padding * 8; };
.pr9{ padding-right:  @base-padding * 9; };
.pr10{ padding-right: @base-padding * 10; };
.pr11{ padding-right: @base-padding * 11; };
.pr12{ padding-right: @base-padding * 12; };
.pr13{ padding-right: @base-padding * 13; };
.pr14{ padding-right: @base-padding * 14; };
.pr15{ padding-right: @base-padding * 15; };
.pr16{ padding-right: @base-padding * 16; };

.pb1{ padding-bottom:  @base-padding * 1; };
.pb2{ padding-bottom:  @base-padding * 2; };
.pb3{ padding-bottom:  @base-padding * 3; };
.pb4{ padding-bottom:  @base-padding * 4; };
.pb5{ padding-bottom:  @base-padding * 5; };
.pb6{ padding-bottom:  @base-padding * 6; };
.pb7{ padding-bottom:  @base-padding * 7; };
.pb8{ padding-bottom:  @base-padding * 8; };
.pb9{ padding-bottom:  @base-padding * 9; };
.pb10{ padding-bottom: @base-padding * 10; };
.pb11{ padding-bottom: @base-padding * 11; };
.pb12{ padding-bottom: @base-padding * 12; };
.pb13{ padding-bottom: @base-padding * 13; };
.pb14{ padding-bottom: @base-padding * 14; };
.pb15{ padding-bottom: @base-padding * 15; };
.pb16{ padding-bottom: @base-padding * 16; };

.pl1{ padding-left:  @base-padding * 1; };
.pl2{ padding-left:  @base-padding * 2; };
.pl3{ padding-left:  @base-padding * 3; };
.pl4{ padding-left:  @base-padding * 4; };
.pl5{ padding-left:  @base-padding * 5; };
.pl6{ padding-left:  @base-padding * 6; };
.pl7{ padding-left:  @base-padding * 7; };
.pl8{ padding-left:  @base-padding * 8; };
.pl9{ padding-left:  @base-padding * 9; };
.pl10{ padding-left: @base-padding * 10; };
.pl11{ padding-left: @base-padding * 11; };
.pl12{ padding-left: @base-padding * 12; };
.pl13{ padding-left: @base-padding * 13; };
.pl14{ padding-left: @base-padding * 14; };
.pl15{ padding-left: @base-padding * 15; };
.pl16{ padding-left: @base-padding * 16; };



/*####################################
##            TYPOGRAPHY            ##
##       base/typography.less       ##
##               v1.0               ##
######################################*/



h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	letter-spacing: -0.025em;
}

h1 {
	font-size: @base-font-size * 3.5;
	line-height: (@base-font-size * 3.5) * @golden-ratio;
}

h2 {
	font-size: @base-font-size * 3;
	line-height: (@base-font-size * 3) * @golden-ratio;
}

h3 {
	font-size: @base-font-size * 2.5;
	line-height: (@base-font-size * 2.5) * @golden-ratio;
}

h4 {
	font-size: @base-font-size * 2;
	line-height: (@base-font-size * 2) * @golden-ratio;
}

h5 {
	font-size: @base-font-size * 1.5;
	line-height: (@base-font-size * 1.5) * @golden-ratio;
}

h6 {
	font-size: @base-font-size * 1;
	line-height: @base-font-size * @golden-ratio;
}



/*####################################
##           BASE CLASSES           ##
##          base/base.less          ##
##              v1.0                ##
######################################*/


//  Inline-block
.ib  {
  display:        inline-block;
  vertical-align: middle;
}

//  Bold text
.bold {
  font-weight:    bold;
}

//  Center
.center  {
  text-align:     center;
}

//  height:100%
.fullheight {
  height:         100%;
}

//  min-height:100%
.minfullheight {
  min-height:     100%;
}

//  visually hide
.hidden {
  visibility: hidden;
  opacity: 0;
}

//  display:none
.vanish {
  display:  none;
}

//  mauto - class
.mauto{
  margin-left:  auto;
  margin-right: auto;
}
//  mauto - mixin
.mauto(@topBottom){
  margin: @topBottom auto;
}

//  positioning
.pos-rel {
  position: relative;
}
.pos-abs {
  position:    absolute;
}
.pos-fix {
  position: fixed;
}

//  better UX for clickable elements
.clickable {cursor: pointer; .user-select(none)}

//  draw a circle
//  ::TEST::
.circle {
  .box-sizing();
  .border-radius(100%);
}



/*####################################
##           MODULE: BTN            ##
##         modules/btn.less         ##
##              v1.0                ##
######################################*/



//::TEST::
//	btn mixin
.btn() {
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 10px auto 0;
    max-width: 100px;
    padding: 7px 16px;
    text-align: center;
    .clickable;
    .trans(background, 0.3s);
    &:hover {
        background: rgba(250,250,250,0.99);
        color: #f66;
    }
}
// basic btn class
.btn {
    .btn();
}



/*####################################
##         MODULE: TEXTAREA         ##
##       modules/textarea.less      ##
##              v1.0                ##
######################################*/



//::TEST::
.textarea {
    .box-sizing();
    resize: none;
    width: 100%;
    height: 100%;
    background: 0;
    margin: 0;
    padding: 0;
    border: 0;
    &:focus {
      outline: none;
    }
}


