/*//////////////////////////////////////////////////////
[  ]                                                [  ]
[  ]                   Lesslie                      [  ]
[  ]      A LESS Library for the rest of us!        [  ]
[  ]                   v1.0.3                       [  ]
[  ]                                                [  ]
[  ]            written & maintained by             [  ]
[  ]            Dave Lunny @dave_lunny              [  ]
[  ]                                                [  ]
//////////////////////////////////////////////////////*/





/*####################################
##            MAIN VARS             ##
##         vars/vars.less           ##
##              v1.0                ##
######################################*/


//	Basic sizer bases
@golden-ratio: 1.61803398875;
@base-size: 6px;


// 	Main Typographic vars
@base-font-size: 16px;
@base-font-weight: 300;
@base-line-height: @base-font-size * @golden-ratio;

@font-sans: 'Lato','Roboto', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;;
@font-serif: 'Droid Serif', 'Georgia', Times, serif;

//	Main Color Scheme vars
@color-1: @vrettaBlue;
@color-2: @vrettaRed;

@lightColor-1: 	lighten(@color-1, 10%);
@darkColor-1: 	darken(@color-1, 10%);

@lightColor-2: 	lighten(@color-2, 10%);
@darkColor-2: 	darken(@color-2, 10%);



/*####################################
##           MAIN COLORS            ##
##         base/colors.less         ##
##              v1.0                ##
######################################*/


@red:         #e51c23;
@pink:        #e91e63;
@purple:      #9c27b0;
@deepPurple:  #673ab7;
@indigo:      #3f51b5;
@blue:        #5677fc;
@lightBlue:   #03a9f4;
@cyan:        #00bcd4;
@teal:        #009688;
@green:       #259b24;
@lightGreen:  #8bc34a;
@lime:        #cddc39;
@yellow:      #cddc39;
@amber:       #ffc107;
@orange:      #ff9800;
@deepOrange:  #ff5722;
@brown:       #795548;
@grey:        #9e9e9e;
@lightGrey:   #cccccc;
@blueGrey:    #607d8b;

@black:       #000000;
@white:       #ffffff;
@offBlack:    #333333;
@offWhite:    #f2f2f2;
@vrettaBlue:  #00aacc;
@vrettaRed:   #ff6666;



/*####################################
##         MIXIN: ANIMATIONS        ##
##    	mixins/animations.less   	  ##
##              v1.0                ##
######################################*/



// ::TEST::
.anim(@time) {
    -webkit-animation-duration:     @time;
          animation-duration:       @time;
  -webkit-animation-fill-mode:      both;
          animation-fill-mode:      both
}
.anim-inf   {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}



/*####################################
##      MIXIN: APPEARANCE-NONE      ##
##    mixins/appearance-none.less   ##
##              v1.0                ##
######################################*/


.appearance-none(){
  -webkit-appearance: none;
    -moz-appearance: none;
      appearance: none;
}



/*####################################
##         MIXIN: BACKFACE          ##
##        mixins/backface.less      ##
##              v1.0                ##
######################################*/


.backface(@backface){
  -webkit-backface-visibility:    @backface;
  backface-visibility:            @backface;
}



/*####################################
##       MININ: BACKGROUND CLIP     ##
##    mixins/background-clip.less   ##
##              v1.0                ##
######################################*/


.background-clip( @val ) {
	-moz-background-clip: @val;
  	-webkit-background-clip: @val;
  	background-clip: ~"@{val}-box";
}



/*####################################
##      MIXIN: BACKGROUND SIZE      ##
##    mixins/background-size.less   ##
##              v1.0                ##
######################################*/



.bg-size( @size ){
	-webkit-background-size: @size;
  	-moz-background-size:    @size;
  	-o-background-size: 	 @size;
  	background-size: 		 @size;
}



/*####################################
##       MIXIN: BORDER-RADIUS       ##
##      mixins/border-radius.less   ##
##              v1.1                ##
######################################*/


//depreciated. autoprefixer removes dated border-radius prefixes anyway.
.border-radius (@radius) {
   -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
           border-radius: @radius;
  //useful for the droid 2.2 color bleed issue
  background-clip: padding-box;
}
//depreciated. autoprefixer removes dated border-radius prefixes anyway.
.border-radius-custom (@topleft, @topright, @bottomright, @bottomleft) {
  -webkit-border-top-left-radius:         @topleft;
  -webkit-border-top-right-radius:        @topright;
  -webkit-border-bottom-right-radius:     @bottomright;
  -webkit-border-bottom-left-radius:      @bottomleft;

  -moz-border-radius-topleft:             @topleft;
  -moz-border-radius-topright:            @topright;
  -moz-border-radius-bottomright:         @bottomright;
  -moz-border-radius-bottomleft:          @bottomleft;

  border-top-left-radius:                 @topleft;
  border-top-right-radius:                @topright;
  border-bottom-right-radius:             @bottomright;
  border-bottom-left-radius:              @bottomleft;

  background-clip: padding-box;
}



/*####################################
##         MIXIN: BOX-SHADOW        ##
##      mixins/box-shadow.less      ##
##              v1.0                ##
######################################*/


.box-shadow(@h-shadow, @v-shadow, @blur, @spread, @color) {
    -moz-box-shadow: @h-shadow @v-shadow @blur @spread @color;
      -webkit-box-shadow: @h-shadow @v-shadow @blur @spread @color;
        box-shadow: @h-shadow @v-shadow @blur @spread @color;
}



/*####################################
##         MIXIN: BOX-SIZING        ##
##      mixins/box-sizing.less      ##
##              v1.0                ##
######################################*/


.box-sizing(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*####################################
##          MIXIN: FLEXBOX          ##
##        mixins/flexbox.less       ##
##              v1.0                ##
######################################*/


// Still untested/under development:
.flexbox(@flex, @direction, @justify, @align){
  display:                  -ms-flexbox;
  display:                  -webkit-flex;
  display:                  flex;

  -ms-flex-direction:       @direction;
  -webkit-flex-direction:   @direction;
  flex-direction:           @direction;

  -ms-flex-pack:            @justify;
  -webkit-justify-content:  @justify;
  justify-content:          @justify;

  -ms-flex-align:           @align;
  -webkit-align-items:      @align;
  align-items:              @align;
}



/*####################################
##        MIXIN: FULL-BG-IMG        ##
##      mixins/full-bg-img.less     ##
##              v1.0                ##
######################################*/



.full-bg(@img){
	background-image: @url;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	.bg-size(cover);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.@{img}', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{img}', sizingMethod='scale')";
}



/*####################################
##         MIXIN: GRADIENTS         ##
##    	mixins/gradients.less   	  ##
##               v1.1               ##
######################################*/



// Used for simple gradients with two colors (start and end). real old browers default to the first color given
.bg-gradient-vert(@startColor, @endColor){
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, @startColor, @endColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, @startColor, @endColor); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, @startColor, @endColor); /* IE10 */
  background-image:      -o-linear-gradient(top, @startColor, @endColor); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, @startColor, @endColor);
  filter:            progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@startColor', endColorstr='@endColor'); /* IE6 & IE7 */
  -ms-filter:        "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@startColor', endColorstr='@endColor')"; /* IE8 */
}
.bg-gradient-horz(@startColor, @endColor){
  background: @startColor;
  background: -moz-linear-gradient(left,  @startColor 0%, @endColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@startColor), color-stop(100%,@endColor));
  background: -webkit-linear-gradient(left,  @startColor 0%, @endColor 100%);
  background: -o-linear-gradient(left,  @startColor 0%, @endColor 100%);
  background: -ms-linear-gradient(left,  @startColor 0%, @endColor 100%);
  background: linear-gradient(to right,  @startColor 0%, @endColor 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@startColor', endColorstr='@endColor'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='@startColor', endColorstr='@endColor')"; /* IE8 */
}



/*####################################
##         MIXIN: TRANSFORMS        ##
##    	mixins/transforms.less   	##
##              v1.0                ##
######################################*/



.scale(@val){
    -ms-transform:      scale(@val); /* IE 9 */
    -webkit-transform:  scale(@val); /* Chrome, Safari, Opera */
    transform:          scale(@val);
}
.scale-x-y(@x,@y){
    -ms-transform:      scale(@x,@y); /* IE 9 */
    -webkit-transform:  scale(@x,@y); /* Chrome, Safari, Opera */
    transform:          scale(@x,@y);
}
.rotate(@rotate){
  -ms-transform:      rotate(@rotate); /* IE 9 */
  -webkit-transform:  rotate(@rotate); /* Chrome, Safari, Opera */
  transform:          rotate(@rotate);
}

//	TODO: add more transforms



/*####################################
##        MIXIN: TRANSITION         ##
##    	mixins/transition.less      ##
##              v1.0                ##
######################################*/


.trans(@prop, @speed){
  -webkit-transition:    @prop @speed;
     -moz-transition:    @prop @speed;
       -o-transition:    @prop @speed;
          transition:    @prop @speed;
}

.trans-ease(@prop, @speed, @ease){
  -webkit-transition:    @prop @speed @ease;
     -moz-transition:    @prop @speed @ease;
       -o-transition:    @prop @speed @ease;
          transition:    @prop @speed @ease;
}



/*####################################
##        MIXIN: USER-SELECT        ##
##    	mixins/user-select.less     ##
##              v1.0                ##
######################################*/


.user-select(@user-select) {
  -webkit-touch-callout: @user-select;
  -webkit-user-select: @user-select;
  -khtml-user-select: @user-select;
  -moz-user-select: @user-select;
  -ms-user-select: @user-select;
  user-select: @user-select;
}


