/*####################################
##         MIXIN: APPEARANCE        ##
##    mixins/appearance-none.less   ##
##              v1.1                ##
######################################*/



.appearance(@app){
  -webkit-appearance: @app;
    -moz-appearance: @app;
      appearance: @app;
}

.appearance-none(){
  -webkit-appearance: none;
    -moz-appearance: none;
      appearance: none;
}

