@base-rem: 0.25rem;


/*####################################
##          MARGIN CLASSES          ##
##         base/spacing.less        ##
##              v1.0                ##
######################################*/


.ma-genny(16);

.ma-genny(@n, @i: 1) when (@i =< @n) {
  .ma-@{i} {
    margin: (@base-rem * @i);
  }
  .ma-genny(@n, (@i + 1));
}

.mt-genny(16);

.mt-genny(@n, @i: 1) when (@i =< @n) {
  .mt-@{i} {
    margin-top: (@base-rem * @i);
  }
  .mt-genny(@n, (@i + 1));
}

.mr-genny(16);

.mr-genny(@n, @i: 1) when (@i =< @n) {
  .mr-@{i} {
    margin-right: (@base-rem * @i);
  }
  .mr-genny(@n, (@i + 1));
}

.mb-genny(16);

.mb-genny(@n, @i: 1) when (@i =< @n) {
  .mb-@{i} {
    margin-bottom: (@base-rem * @i);
  }
  .mb-genny(@n, (@i + 1));
}

.ml-genny(16);

.ml-genny(@n, @i: 1) when (@i =< @n) {
  .ml-@{i} {
    margin-left: (@base-rem * @i);
  }
  .ml-genny(@n, (@i + 1));
}



// ######################################
// ##         PADDING CLASSES          ##
// ##         base/spacing.less        ##
// ##              v1.0                ##
// ######################################


.pa-genny(16);

.pa-genny(@n, @i: 1) when (@i =< @n) {
  .pa-@{i} {
    padding: (@base-rem * @i);
  }
  .pa-genny(@n, (@i + 1));
}

.pt-genny(16);

.pt-genny(@n, @i: 1) when (@i =< @n) {
  .pt-@{i} {
    padding-top: (@base-rem * @i);
  }
  .pt-genny(@n, (@i + 1));
}

.pr-genny(16);

.pr-genny(@n, @i: 1) when (@i =< @n) {
  .pr-@{i} {
    padding-right: (@base-rem * @i);
  }
  .pr-genny(@n, (@i + 1));
}

.pb-genny(16);

.pb-genny(@n, @i: 1) when (@i =< @n) {
  .pb-@{i} {
    padding-bottom: (@base-rem * @i);
  }
  .pb-genny(@n, (@i + 1));
}

.pl-genny(16);

.pl-genny(@n, @i: 1) when (@i =< @n) {
  .pl-@{i} {
    padding-left: (@base-rem * @i);
  }
  .pl-genny(@n, (@i + 1));
}


