/*####################################
##            TYPOGRAPHY            ##
##       base/typography.less       ##
##               v1.0               ##
######################################*/



h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	letter-spacing: -0.025em;
}

h1 {
	font-size: @base-font-size * 3.5;
	line-height: (@base-font-size * 3.5) * @golden-ratio;
}

h2 {
	font-size: @base-font-size * 3;
	line-height: (@base-font-size * 3) * @golden-ratio;
}

h3 {
	font-size: @base-font-size * 2.5;
	line-height: (@base-font-size * 2.5) * @golden-ratio;
}

h4 {
	font-size: @base-font-size * 2;
	line-height: (@base-font-size * 2) * @golden-ratio;
}

h5 {
	font-size: @base-font-size * 1.5;
	line-height: (@base-font-size * 1.5) * @golden-ratio;
}

h6 {
	font-size: @base-font-size * 1;
	line-height: @base-font-size * @golden-ratio;
}


